@import '../../../assets/styles/global.styles.css';	

.profile-container {
    margin: 2rem;
}

.text {
    font-family: "Main Bold", sans-serif;
    font-size: 1rem;
}

.item-container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #e7e7e7;
    padding: 0.5rem;
    margin: 1rem 0rem;
}

.item-title {
    font-family: "Main Bold", sans-serif;
    font-size: 1rem;
}

.item-as {
    font-family: "Main Bold", sans-serif;
    font-size: 0.6rem;
    color: #aaa;
    text-transform: uppercase;
}