@import '../../../assets/styles/global.styles.css';

.search-container {
    padding: 2rem;
}

.results-container {
    padding: 0rem 2rem;
}

.results-title {
    font-family: "Main Black", sans-serif;
    font-size: 1.25rem;
}