@import '../../../assets/styles/global.styles.css';

.margin-page {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.arrow-back {
    margin: 1.5rem;
}

.section-title {
    font-family: "Main Black", sans-serif;
    font-size: 2rem;
    padding: 0rem 1.5rem;
    margin-bottom: 3rem;
}

.date-range-picker {
    width: 100%;
    font-family: "Main Bold", sans-serif;
}

// Override date picker css classes

.rdrDateDisplayWrapper {
    background-color: transparent;
}

.rdrDateDisplayItem  {
    padding: 0.5rem 0rem;

    input {
        font-family: "Main Bold", sans-serif;
        color: #262626;
        font-size: 0.9rem;
    }
}

.rdrDateDisplayItemActive {
    border-color: transparent;
}

.rdrWeekDays, .rdrMonthAndYearWrapper {
    display: none;
}

.rdrMonth {
    width: auto !important;
    height: auto !important;
    padding: 0.5rem 1rem;
}

.rdrMonthName {
    font-size: 1rem;
    color: black;
}

.rdrStartEdge {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.rdrEndEdge {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.rdrInRange {
    border-radius: 0px !important;
}

.rdrDay  {
    height: 50px;
}