@font-face {
  font-family: "Logo";
  src: url("../fonts/Righteous/Righteous-Regular.ttf");
}
@font-face {
  font-family: "Main Regular";
  src: url("../fonts/Mulish/Mulish-Regular.ttf");
}

@font-face {
  font-family: "Main Bold";
  src: url("../fonts/Mulish/Mulish-Bold.ttf");
}

@font-face {
  font-family: "Main SemiBold";
  src: url("../fonts/Mulish/Mulish-SemiBold.ttf");
}

@font-face {
  font-family: "Main ExtraBold";
  src: url("../fonts/Mulish/Mulish-ExtraBold.ttf");
}

@font-face {
  font-family: "Main Black";
  src: url("../fonts/Mulish/Mulish-Black.ttf");
}

@font-face {
  font-family: "Main Light";
  src: url("../fonts/Mulish/Mulish-Light.ttf");
}

@font-face {
  font-family: "Main Medium";
  src: url("../fonts/Mulish/Mulish-Medium.ttf");
}


* {
  box-sizing: border-box;
  --primary-color: #2666CF;
}

body {
  margin: 0px;
}

p {
  margin-block: 0px;
}

.icon {
  cursor: pointer;
  outline: none;
}

.modal-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  width: 400px;
  padding: 2rem;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal-title {
  font-family: "Main Black", sans-serif;
  font-size: 36px;
}

.modal-content {
  margin: 1rem 0rem;
  width: 100%;
}

.modal-input {
  font-family: "Main Regular", sans-serif;
  font-size: 14px;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 0.75rem 1rem;
  border: none;
  width: 100%;
  margin: 0.5rem 0rem;
}

.modal-input-hint {
  font-family: "Main Regular", sans-serif;
  font-size: 14px;
  margin-top: 1rem;
  color: #aaa;
}

.modal-input-hint:first-of-type {
  margin-top: none;
}

.modal-footer {
  width: 100%;
}

.modal-redirect-text {
  font-family: "Main Black", sans-serif;
  font-size: 1rem;
  color: #2666CF;
  margin-top: 0.75rem;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.modal-redirect-text:hover {
  color: #395B64;
}

.action-button {
  background-color: #2666CF;
  font-family: "Main Bold", sans-serif;
  font-size: 16px;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.action-button:hover {
  background-color: #395B64;
}

.error-box {
  border: 1px solid #eb0202;
  font-family: "Main Medium", sans-serif;
  color: #eb0202;
  font-size: 14px;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  background-color: #ffbfc1;
}

.notation {
  font-family: "Main Regular", sans-serif;
  font-size: 1rem;
  color: #ccc;
}

.margin-page {
  margin: 1rem;
}

/*
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #aaa; 
}

::-webkit-scrollbar-thumb:hover {
  background: #e7e7e7; 
}
*/
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 4px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

a {
  text-decoration: none;
  color: black;
}

.profile-picture-container {
  width: 40px;
  height: 40px;
  background-color: #e7e7e7;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-picture-initials {
  font-family: "Main Bold", sans-serif;
  font-size: 12.5px;
  color: "#777";
}

input:focus {
  outline: none;
}

.inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .modal-container {
    width: 95vw;
  }
}