@import '../../../assets/styles/global.styles.css';

.page-container {
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
}

.page-content {
    width: 100%;
    height: calc(100vh - 200px);
    overflow-y: scroll;
}

.vehicle-info {
    padding: 2rem;
}

.page-action-button-container {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    background-color: #fff;

    .action-button {
        padding: 1rem;
    }
}

.carousel-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 200px;
    border-radius: 4px;
}

.carousel-container {
    border-radius: 4px;
}

.vehicle-title {
    font-family: "Main Black", sans-serif;
    font-size: 24px;
    margin-bottom: 2rem;
}

.vehicle-description {
    font-family: "Main Regular", sans-serif;
    font-size: 1rem;
    color: #aaa;
    margin-top: 1rem;
}

.vehicle-type {
    background-color: #2666CF;
    border: none;
    border-radius: 4px;
    padding: 0.25rem 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    margin-bottom: 1rem;
}

.vehicle-type-icon {
    color: white;
    font-size: 16px;
    margin-right: 6px;
}

.vehicle-type-text {
    font-family: "Main Bold", sans-serif;
    font-size: 10px;
    color: white;
}

.car-info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.car-info-item-icon {
    font-size: 20px;
}

.car-info-item-text {
    font-family: "Main Bold", sans-serif;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

