@import '../../../assets/styles/global.styles.css';

.arrow-back {
    margin: 1.5rem;
}

.section-title {
    font-family: "Main Black", sans-serif;
    font-size: 2rem;
    padding: 0rem 1.5rem;
    margin-bottom: 3rem;
}

.date-range-picker {
    width: 100%;
    font-family: "Main Bold", sans-serif;
}

.search-bottom-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    background-color: white;
    bottom: 0;
    position: absolute;
    border-top: 1px solid #e7e7e7;
    width: 100%;
    padding: 1.5rem;
}

.search-bottom-bar-button {
    background-color: var(--primary-color);
    font-family: "Main Bold", sans-serif;
    font-size: 1rem;
    color: white;
    border: 0px;
    border-radius: 4px;
    width: 100%;
    padding: 0.75rem;
}

.time-input-section {
    margin: 1.75rem;
}

.time-input-section-title {
    font-family: "Main Bold", sans-serif;
    font-size: 1rem;
}

.time-dropdown {
    width: 50%;
    margin-top: 8px;
    font-family: "Main Regular", sans-serif;
    font-size: 0.9rem;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    padding: 0.75rem;
}