@import '../../../assets/styles/global.styles.css';

.navbar-container {
    width: 100vw;
    height: 100px;
    background-color: #fff;
    -webkit-box-shadow: 5px 5px 15px 5px #e7e7e7; 
    box-shadow: 5px 5px 15px 5px #e7e7e7;
    padding: 8px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo-text {
    font-family: "Logo", sans-serif;
    font-size: 32px;
}

.profile-picture-container {
    width: 50px;
    height: 50px;
    background-color: #e7e7e7;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profile-picture-initials {
    font-family: "Main Bold", sans-serif;
    font-size: 12.5px;
    color: "#777";
}

.action-button {
    background-color: #2666CF;
    font-family: "Main Bold", sans-serif;
    font-size: 16px;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.action-button:hover {
    background-color: #395B64;
}