@import '../../../assets/styles/global.styles.css';

.navbar-container {
    width: 100vw;
    height: 100px;
    background-color: white;
    -webkit-box-shadow: 5px 5px 15px 5px #e7e7e7; 
    box-shadow: 5px 5px 15px 5px #e7e7e7;
    padding: 8px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo-text {
    font-family: "Logo", sans-serif;
    font-size: 32px;
}